* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #e9e9e9;
}

.wrapper {
  width: 800px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 360px;
  padding: 20px 40px;
  font-family: 'Dancing Script', sans-serif;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
}

h1 {
  margin-bottom: 30px;
  color: fff;
  font-size: 50px;
}

input {
  padding: 10px 20px;
  margin-bottom: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.85);
}

.drink-list {
  padding: 20px 40px;
}

h2 {
  padding: 30px 0;
}

ul {
  padding-bottom: 30px;
  font-size: 23px;
  list-style: none;
}

li {
  padding: 8px 30px;
  border-bottom: 1px solid #e2e2e2;
  display: none;
}

li:last-child {
  padding: 8px 30px;
  border-bottom: 0;
}
/*# sourceMappingURL=style.css.map */