* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(233, 233, 233);
}

.wrapper {
	width: 800px;
	background-color: #fff;
	box-shadow: 0 0 10px #000;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	height: 360px;
	padding: 20px 40px;
	font-family: 'Dancing Script', sans-serif;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: -1;
}

h1 {
	margin-bottom: 30px;
	color: fff;
	font-size: 50px;
}

input {
	padding: 10px 20px;
	margin-bottom: 40px;
	width: 100%;
	font-size: 16px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.85);
}

.drink-list {
	padding: 20px 40px;
}

h2 {
	padding: 30px 0;
}

ul {
	padding-bottom: 30px;
	font-size: 23px;
	list-style: none;
}

li {
	padding: 8px 30px;
	border-bottom: 1px solid rgb(226, 226, 226);
	display: none;
}
li:last-child {
	padding: 8px 30px;
	border-bottom: 0;
}
